:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  --black: #000;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.hide {
  display: none;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
 
  
@media only screen and (min-width: 768px) {
  .container {
   max-width: 768px; 
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}




.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}


.header-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cornflower);
}
.nav-page {
  display: flex;
  align-items: center;
}


.link-logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-dark {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border: none;
  background-color: transparent;
  color: var(--black);
  
}
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
     margin-right: auto;
  }
}
.mobile-menu-icon {
stroke: currentColor;
}
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 72px 16px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu .mobile-menu-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;

}
.mobile-menu-btn-close {
  position: absolute;
  border-radius: 100%;
  border: 1px solid var(--navy-blue);
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--dairy);

}
.mobile-menu-btn-icon {
  fill: var(--navy-blue);

}
.mobile-menu-list {
  margin-bottom: auto;
}

.mobile-menu-list > .mobile-menu-item:first-child .mobile-menu-link {
color: var(--ocean);
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.mobile-menu-link:active {
  color: var(--ocean);
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;

}
.mobile-menu-contacts-item:first-child .mobile-menu-link {
color: var(--iris);
}
.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.mobile-menu-list-socials {
  display: flex;
  align-items: center;
  gap: 40px;
}
.mobile-menu-socials-item {
  width: 40px;
  height: 40px;

}
.mobile-menu-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  border: none;

}
.mobile-menu-socials-icon {
  fill: var(--cloud);
}

.nav-list {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}
.nav-item {
  padding: 24px 0;
  color: var(--navy-blue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color var(--animation); 
}

.nav-item:hover,
.nav-item:focus {
  color: var(--ocean)
}

.nav-link.current {
  position:relative;
  color: var(--ocean); 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
} 

.nav-link.current::after {
  content: "";
  position: absolute;
  background-color: var(--ocean);
  width: 100%;
  border-radius: 2px;
  height: 4px;
  bottom: -1px;
  left: 0;
}

.menu-nav {
  transition: color var(--animation);
}

.menu-nav:hover,
.menu-nav:focus,
.menu-nav:active {
  color: var(--ocean);
}

.nav-link {
  padding: 24px 0;
}

.contacts {
  color: var(--slate);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-left: auto
}

@media only screen and (min-width: 1158px) {
  .contacts-list {
    display: flex;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
} 


@media only screen and (max-width: 767.98px) {
  .contacts {
    display: none;
  }
}
.contacts-name {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-name:hover,
.contacts-name:focus,
.contacts-name:active {
  color: #404bbf;
}

.section-hero {
  background-color: #2e2f42;
  padding: 72px 52px;
  max-width: 320px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: 
  linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
  url(../images/hero/dark-bgmob.jpg);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
  background-image: 
  linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
  url(../images/hero/dark-bgmob@2x.jpg);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  }
}
@media only screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    padding: 112px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: 
    linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
      ),
    url(../images/hero/people-office.jpg);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: 
        linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
          ),
        url(../images/hero/people-office@2x.jpg);
    }
  }
}
@media only screen and (min-width: 1158px) {
  .section-hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-container {
  max-width: 320px;
}
@media only screen and (min-width: 768px) {
  .hero-container {
    max-width: 768px;
  }
} 
@media only screen and (min-width: 1158px) {
  .hero-container {
    max-width: 1158px;
  }
} 
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin-bottom: 72px;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero-title  {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin-bottom: 36px;
  max-width: 496px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title  {
    margin-bottom: 48px;
  }
}
.hero-order-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  min-height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--animation);
}



.hero-order-button:hover,
.hero-order-button:focus,
.hero-order-button:active {
  background-color: var(--ocean);
}
.section-features {
padding: 96px 16px;
}

@media only screen and (min-width: 1158px) {
  .section-features  {
  padding: 120px 0;
}
}
.features-container {
  max-width: 288px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .features-container {
    max-width: 736px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1158px) {
  .features-container {
    min-width: 1128px;
    flex-wrap: nowrap;
    gap: 24px;

  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.features-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .features-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}


.features-item {
  max-width: 288px;
}
@media only screen and (min-width: 768px) {
  .features-item {
    max-width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .features-item {
    max-width: calc((100% - 72px) / 3);
  }
}


@media only screen and (max-width: 1157.98px) {
  .feature-icon {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .feature-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--cloud);
  }
}

@media only screen and (min-width: 320px) {
  .features-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    }
}


@media only screen and (min-width: 768px) {
  .features-name {
   text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .features-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }
} 
@media only screen and (min-width: 320px) {
  .features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }
}

@media only screen and (min-width: 1158px) {
  .features-text  {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
@media only screen and (min-width: 320px) {
  .section-team {
    padding: 96px 0;
    background-color: var(--cloud);
  }
}


@media only screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
} 


.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    padding: 0 98px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    padding: 0;
    gap: 24px;
  }
}

.team-item {
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

@media only screen and (min-width: 768px) {
  .team-item {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-item {
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
    overflow: hidden;
  }
}

.team-img {
  width: 264px;
  height: 260px;
}

.team-wrap {
  padding: 32px 16px;
}


.team-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: var(--navy-blue);
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-wrap-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-link-item {
  width: 40px;
  height: 40px;
  
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--ocean);
}

.team-socials-icon {
  fill: var(--cloud);
  width: 16px;
  height: 16px;
}
.section-portfolio {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
} 

.portfolio-title {    
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--navy-blue);
}


.portfolio-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 52px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list  {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
   
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
   
  }
} 
@media only screen and (min-width: 768px) {
  .portfolio-item {
    max-width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item {
    max-width: calc((100% - 48px) / 3);
  }
} 
  

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

  .overlay-wraper {
    position: relative;
    overflow: hidden;
}
  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--iris);
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}
.portfolio-img {
  width: 288px;
  height: 280px;
}
@media only screen and (min-width: 768px) {
  .portfolio-img  {
    width: 356px;
    height: 300px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-img {
    width: 360px;
    height: 300px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
} 
.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
   
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--navy-blue)
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}


.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 96px;
    align-items: normal;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-wrap {
    flex-wrap: nowrap;
    padding-left: 0;
    gap: 0;
  }
}

.footer-container {
  display: block;

}
@media only screen and (min-width: 1158px) {
  .footer-container {
    margin-right: 120px;
  }
}
.link-logo-footer {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 16px;

}
@media only screen and (min-width: 768px) {
  .link-logo-footer {
    text-align: left;
  }
}
.logo-light {
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-wrap-socials {
  display: block;
}

.footer-socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-socials-title {
    text-align: left;
  }
}

.footer-list-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-list-socials {
    align-items: baseline;
  }
}
.footer-socials-link-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--green);
}

.footer-socials-icon {
  fill: var(--cloud);
}

@media only screen and (min-width: 768px) {
  .footer-checkbox {
    
  }
} {
}
@media only screen and (min-width: 1158px) {
  .footer-checkbox {
    margin-left: 80px;
  }
}
.footer-form {

}

@media only screen and (min-width: 768px) {
  .footer-form  {
    display: flex;
    gap: 24px;
  }
}

.footer-form-name {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}
@media only screen and (max-width: 767.98px) {
  .footer-form-name  {
    text-align: center;
  }
}
  .footer-form-field {
    display: block;
    margin-bottom: 16px;
  }

@media only screen and (min-width: 768px) {
  .footer-form-field  {
    margin-bottom: 0;
  }
}
.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid var(--white);
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
@media only screen and (max-width: 767.98px) {
  .footer-subscribe-btn {
  margin: auto;
  }
}
.footer-subscribe-btn:focus,
 .footer-subscribe-btn:hover {
  background-color: var(--green);
}
.footer-btn-icon {
  fill: var(--white);
  margin-left: 16px;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  background-color: var(--dairy);
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    border-radius:4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .modal {
  top: 50%;
  left: 50%;
 
  }
}
.backdrop.is-open .modal {
  transition-delay: 600ms;
  opacity: 1;
}
.modal-xbtn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-xbtn:hover,
.modal-xbtn:focus {
  border: none;
  background-color: var(--ocean);

}
.modal-xbtn-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-xbtn:hover > .modal-xbtn-icon,
.modal-xbtn:focus > .modal-xbtn-icon {
  fill: var(--white);
}


.modal-caption {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 38px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent; 
  background-color: transparent;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus{
  border-color: var(--iris);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
}
.modal-form-field-textarea {
  margin-bottom: 16px;
}

.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  opacity: 0.5;
}
.modal-form-comment:focus {
  border-color: var(--iris);
}

.modal-form-agreement {
  margin-bottom: 24px;
 } 
 .modal-form-box-label {
  margin-right: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: var(--white);
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.agreement-input:checked + .modal-form-box-label > .custom-checkbox {
  border: none;
  background-color: var(--ocean);
  fill: var(--cloud);

}


.agreement-form-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}
 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
.modal-send-btn {
  display: block;
  margin: auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}